<%- include('../partials/_head.ejs') %>

  <main class="et-main container">
    <section class="et-content">
      <h1 class="et-page-title">
        <%= title %>
      </h1>
      <div class="profile-container">
        <form method="POST" action="/tracker/profile?_method=PUT">
          <fieldset>
            <label for="user_email">Email: </label>
            <input type="text" name="user_email" class="txt-user_email form-control" value="<%= user.email %>" disabled>
          </fieldset>
          <fieldset>
            <label for="user_name">Name: </label>
            <input type="text" name="user_name" class="txt-user_name form-control" value="<%= user.display_name %>"
              placeholder="Enter display name...">
          </fieldset>
          <fieldset>
            <label for="date_format">Date Format: </label>
            <select type="text" name="date_format" class="sel-date_format form-select">
              <option value="1" <%=user.date_format==1 ? 'selected' : '' %>>MM/DD/YYYY</option>
              <option value="2" <%=user.date_format==2 ? 'selected' : '' %>>DD/MM/YYYY</option>
            </select>
          </fieldset>
          <fieldset>
            <label for="number_format">Number Format: </label>
            <select type="text" name="number_format" class="sel-number_format form-select">
              <option value="1" <%=user.number_format==1 ? 'selected' : '' %>>1,000.37</option>
              <option value="2" <%=user.number_format==2 ? 'selected' : '' %>>1.000,37</option>
            </select>
          </fieldset>
          <fieldset>
            <label for="curr_symbol">Currency Symbol: </label>
            <select type="text" name="curr_symbol" class="sel-curr_symbol form-select">
              <option value="$" <%=user.currency_symbol=='$' ? 'selected' : '' %>>$</option>
              <option value="€" <%=user.currency_symbol=='€' ? 'selected' : '' %>>€</option>
              <option value="£" <%=user.currency_symbol=='£' ? 'selected' : '' %>>£</option>
            </select>
          </fieldset>
          <input type="hidden" name="hidden_id" value="<%= user._id %>">
          <button class="btn btn-update-profile"><i class="fa fa-user-cog"></i> Update Profile</button>


        </form>
      </div>
    </section>


  </main>

  <script src="/js/utils.js"></script>
  <script>
    const parseQuery = () => {
      if (window.location.search.length === 0) return;
      const params = new URLSearchParams(window.location.search);
      if (params.get('update')) {
        showAlert('success', 'Profile updated successfully!', document.querySelector('.profile-container'));
      }
    }
    parseQuery();
  </script>
  <%- include('../partials/_foot.ejs'); %>