<%- include('../partials/_head.ejs') %>
  <main class="et-main container">
    <section class="et-content">
      <h1 class="et-page-title">
        <%= title %>:
          <span class="et-report-month"></span>
      </h1>
      <h2 class="report-title"></h2>
      <select id="month-switcher" class="form-select">
        <option value="#">Choose a Month</option>
      </select>
      <div class="report-container">

      </div>
    </section>


  </main>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
  <script>dayjs.extend(window.dayjs_plugin_utc)</script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
  <script type="text/javascript">
    const etUserSettings = {
      dateFormat: <%= user.date_format %>,
      numberFormat: <%= user.number_format %>,
      currencySymbol: '<%= user.currency_symbol %>',
    }
  </script>
  <script src="/js/utils.js"></script>
  <script src="/js/tracker-reports.js"></script>
  <%- include('../partials/_foot.ejs'); %>